{% load space_to_underscore %}
{% for file in files %}
    {% if file.type == "D" %}
        <li>
            <a target="_blank" href="/zip_file?path={{file.path}}">
                <img class="icon" src="/static/images/zip.png">
            </a>
            <a data-toggle="collapse" href="#{{ file.name|space_to_underscore }}">
                {{file.name}}
            </a>
        </li>
        {% if file.files|length %}
        <ul id="{{ file.name|space_to_underscore }}" class="collapse directory">
            {% with files=file.files %}
                {% include "file_lister/directory.html" %}
            {% endwith %}
        </ul>
        {% endif %}
    {% else %}
        <li>
            <img class="icon" src="/static/images/file.jpg">
            <a target="_blank" href="/get_file?path={{file.path}}">
                {{file.name}}
            </a>
        </li>
    {% endif %}
{% endfor %}
