{% load space_and_dot_to_underscore %}
{% load static %}
{% for file in files %}
    {% if file.type == "D" %}
        <li>
            <a target="_blank" href="/zip_file?path={{file.path|replace_plus_in_url}}">
                <img class="icon" src="{% static "file_lister/images/zip.png" %}">
            </a>
            <a data-toggle="collapse" href="#{{ file.name|special_to_underscore|remove_brackets_and_plus }}">
                {{file.name}}
            </a>
        </li>
        {% if file.files|length %}
        <ul id="{{ file.name|special_to_underscore|remove_brackets_and_plus }}" class="collapse directory">
            {% with files=file.files %}
                {% include "file_lister/directory.html" %}
            {% endwith %}
        </ul>
        {% endif %}
    {% else %}
        <li>
            <img class="icon" src="{% static "file_lister/images/file.jpg" %}">
            <a target="_blank" href="/get_file?path={{file.path|replace_plus_in_url}}">
                {{file.name}}
            </a>
        </li>
    {% endif %}
{% endfor %}
