{% load staticfiles %}
{% for file in files %}
    {% if file.type == "D" %}
        <li>
            <a target="_blank" href="/zip_file?path={{file.path}}">
                <img class="icon" src="{% static 'file_lister/images/zip.png' %}">
            </a>
            <a data-toggle="collapse" href="#{{file.name}}">
                {{file.name}}
            </a>
        </li>
        {% if file.files|length %}
        <ul id="{{file.name}}" class="collapse directory">
            {% with files=file.files %}
                {% include "file_lister/directory.html" %}
            {% endwith %}
        </ul>
        {% endif %}
    {% else %}
        <li>
            <img class="icon" src="{% static 'file_lister/images/file.jpg' %}">
            <a target="_blank" href="/get_file?path={{file.path}}">
                {{file.name}}
            </a>
        </li>
    {% endif %}
{% endfor %}
