<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <script type="application/javascript">
        var tries = {{ hangman.lives }};
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'hangman_website/style.css' %}"/>
    <script type="application/javascript" src="{% static 'hangman_website/hangman.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Djangman</title>
</head>
<body>

<div id="main-content">
    <h1>The Djangman</h1>

    {% if error %}
        <p><strong>{{ error }}</strong></p>
    {% endif %}

    {% if hangman.solved %}
        <p><strong>Well done you solved it!</strong></p>
    {% endif %}

    <p>{% for val in hangman.mask %}
        {% if forloop.last %}
            {{ val }}
        {% else %}
            {{ val }}.
        {% endif %}
    {% endfor %}</p>
    {% if tested|length %}
        <p>Here are the letters you tried {% for val in tested %}{{ val }} {% endfor %}</p>
    {% endif %}

    {% if not hangman.solved and hangman.lives > 0 %}
        <form action="{% url 'hangman_website:index' %}" method="post">
            {% csrf_token %}
            <p>
                {% for letter in '0123456789' %}
                    {% if letter|lower not in hangman.tested %}
                        <input type="submit" value="{{ letter }}" name="letter">
                    {% endif %}
                {% endfor %}
            </p>
            <p>
                {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                    {% if letter|lower not in hangman.tested %}
                        <input type="submit" value="{{ letter }}" name="letter">
                    {% endif %}
                {% endfor %}
            </p>
        </form>
    {% endif %}

    {% if hangman.solved or hangman.lives <= 0 %}
        <form action="{% url 'hangman_website:reset' %}" method="get">
            <input type="submit" value="Play Again!">
        </form>
    {% endif %}

    <p>{{ hangman.lives }} lives remaining.</p>
    <canvas id="stickman">This Text shows because the Browser you are using does NOT support HTML5 Canvas tag</canvas>

</div>
</body>
</html>